    <header class="navbar navbar-expand-md navbar-light bg-white top-nav carpentries">
      <a class="visually-hidden-focusable skip-link" href="#main-content">Skip to main content</a>
      <div class="container-fluid top-nav-container">
        <div class="col-md-6">
          <div class="large-logo"><img alt="carpentries logo" src="assets/carpentries-logo.svg"></div>
        </div>

        <div class="selector-container ">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              English (US) <i data-feather="chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">French</button></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bordered-button" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="icon" data-feather="eye"></i> Learner View <i data-feather="chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><button class="dropdown-item" type="button">Instructor View</button></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
    </header>
