<!doctype html>
<html lang="en">
  {{{ head }}}
  <body>
    {{{ header }}}
    {{{ main-nav }}}
    <div class="container">
      <div class="row">
       {{{ navbar }}}
        <div class="col-xl-8 col-lg-12 primary-content">
          {{{ top-nav }}}
          <main id="main-content" class="main-content">
            <div class="container lesson-content">
              {{{ lesson }}}
            </div>
          </main> <!-- / main#main-content.main-content -->
          {{{ bottom-nav }}}
        </div> <!-- / div.primary-content.col-xs-12 -->
      </div> <!-- / div.row -->
      {{{ footer }}}
    </div> <!-- / div.container -->
    <div id="to-top">
      <a href="#top">
        <i class="search-icon" data-feather="arrow-up" role="img" aria-label="Back to top"></i><br/>
        <span class="d-none d-sm-none d-md-none d-lg-none d-xl-block">Back</span> To Top
      </a>
    </div>
    <script>
      feather.replace();
    </script>
  </body>
</html>
