
    <nav class="navbar navbar-expand-xl navbar-light bg-white bottom-nav carpentries" aria-label="Main Navigation">
      <div class="container-fluid nav-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="menu-title">Menu</span>
        </button>
        <div class="nav-logo">
          <img class="small-logo" src="assets/software-logo-sm.svg">
        </div>
        <div class="lesson-title-md">
          The Unix Shell
        </div>
        <div class="search-icon-sm">
          <i role="img" aria-label="search button" data-feather="search"></i>
        </div>
        <div class="desktop-nav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <span class="lesson-title">
                The Unix Shell
              </span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Key Points</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Glossary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Learner Profiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Additional Resources</a>
            </li>
          </ul>
        </div>
        <form class="d-flex col-md-2 search-form">
          <input class="form-control me-2 searchbox" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success tablet-search-button"  type="submit"><i class="search-icon" data-feather="search" role="img" aria-label="search button"></i></button>
        </form>
      </div>
    </nav>

    <div class="col-md-12 mobile-title">
      The Unix Shell
    </div>

    <aside class="col-md-12 lesson-progress">
      <div style="width: 25%" class="percentage">
        25%
      </div>
      <div class="progress carpentries">
        <div class="progress-bar carpentries" role="progressbar" style="width: 25%" aria-valuenow="25" aria-label="Lesson Progress" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </aside>

